<h1>New Contact</h1>

<% if @contact.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<form action="/contacts" method="post">
  <input id = "contact_name" name="name" type="text" placeholder="Contact Name">
  <input id = "contact_phone" name="phone" type="text" placeholder="Phone number">
  <input id = "contact_email" name="email" type="text" placeholder="Email">
  <button>Create Contact</button>
</form>
